.main-view {
    background: linear-gradient(blue, pink);
}

.canvas-panel {
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(blue, pink);
    width: 540px;
    height: 960px;
}

.main-panel {
    background: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.suggest-cell {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50%;
    color: white;
    font-size: large;
}

.magic-ball {
    padding-top: 20px;
    width: 60%;
    transition: 0.1s;
}

.magic-ball:hover {
    transform: scale(1.2);
}
