.main-view {
    background: linear-gradient(blue, pink);
}

.main-panel {
    background: transparent;
    align-items: center;
    justify-content: center;
}


.suggest-cell {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50%;
    color: white;
    font-size: large;
}

.magic-ball {
    padding-top: 20px;
    width: 60%;
    height: 60%;
    padding-left: 20%;
    transition: 0.1s;
}

.magic-ball:hover {
    transform: scale(1.2);
}
